<!-- CHECKIN - CHECKOUT -->
<div class="d-flex align-item-center flex-wrap gap-2 mb-3 w-md-50">

    <button disabled type="button " class="card mt-2 mb-0 bg-success p-3 text-white pointer">
        <div class="">
            <h4 class="mb-0 text-white fw-bold text-left "> 
                <i class="mdi mdi-airplane-landing"></i>
                CheckIn 
            </h4>
            <footer>
                <small *ngIf="corrective?.checkin">
                    {{ corrective?.checkin | date: 'medium' }}
                </small>
                <small *ngIf="!corrective?.checkin">
                    click aqui para checkIn
                </small>
            </footer>
        </div>
    </button>

    <button disabled *ngIf="corrective?.checkin" type="button " class="card mt-2 mb-0 bg-danger p-3 text-white pointer">
        <div class="">
            <h4 class="mb-0 text-white fw-bold text-left">
                <i class="mdi mdi-airplane-takeoff"></i>
                CheckOut 
            </h4>
            <footer>
                <small *ngIf="corrective?.checkout">
                    {{ corrective?.checkout | date: 'medium' }}
                </small>
                <small *ngIf="!corrective?.checkout">
                    click aqui para checkOut
                </small>
            </footer>
        </div>
    </button>

</div>
<!-- CHECKIN - CHECKOUT -->
<hr>
<!-- CONTROL - CLIENT -->
<div class="d-flex align-item-center flex-wrap gap-2 mb-3">

    <!-- CONTROL -->
    <div class="d-flex flex-row bg-white pl-0 pr-3 shadow-sm mt-2">
        <div class="p-10 bg-info">
            <h3 class="text-white box m-b-0 fs-3 fw-bold">
                {{ corrective?.control | number }}
            </h3>
        </div>
        <div class="align-self-center m-l-20">
            <h3 class="m-b-0 text-info"> Control </h3>
            <small *ngIf="corrective?.estado === 'Pendiente' " class="text-warning m-b-0">
                {{ corrective?.estado }}
            </small>
            <small *ngIf="corrective?.estado === 'Terminado' " class="text-success m-b-0">
                {{ corrective?.estado }}
            </small>
        </div>
    </div>

    <!-- CLIENT -->
    <div class="d-flex flex-row bg-white pl-0 shadow-sm mt-2">
        <div class="p-10 bg-primary">
            <h3 class="text-white box m-b-0">
                <i class=" mdi mdi-account-outline fs-2"></i>
            </h3>
        </div>
        <div class="align-self-center m-l-20 pr-3">
            <h4 class="m-b-0 text-primary text-break"> {{corrective?.client.name}} </h4>
            <small class="text-muted m-b-0">
                <i class="mdi mdi-phone"></i>
                {{ corrective?.client.phone }}
            </small>
            <small class="text-muted m-b-0">
                - <i class="mdi mdi-map-marker"></i>
                {{ corrective?.client.address }}
            </small>

        </div>
    </div>

</div>
<!-- CONTROL - CLIENT -->

<div class="card bg-danger p-3 text-center text-white text-break shadow animated pulse x5 ">
    <h4 class="mb-0 fw-bold text-white">Descripción</h4>
    <p> {{ corrective?.description }} </p>
    <footer>
        <small>
            por: <cite title="Source Title"> {{ corrective?.create.name }} </cite>
        </small>
    </footer>
</div>

<div class="d-flex flex-row flex-wrap gap-2">

    <!-- INFO PRODUCT -->
    <div class="card w-100">
        <div class="card-body">

            <div class="d-flex flex-row flex-wrap gap-2 mb-3">

                <div class="col-md-4">
                    <img [src]="corrective?.product.img | imagen: 'products' " alt="image" class="img-responsive img-rounded" width="150">
                </div>

                <div>
                    <p class="mb-2 fw-bolder text-info">PRODUCTO:</p>
                    <h3 class="mb-2 fw-bold fs-2">Codigo: {{ corrective?.product.code }} </h3>
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-outline-primary">Proximo mantenimiento</button>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-xs-6 b-r"> <strong class="fw-bold">Serial</strong>
                    <br>
                    <p class="text-muted">{{ corrective?.product.serial }}</p>
                </div>

                <div class="col-md-3 col-xs-6 b-r"> <strong class="fw-bold">Marca</strong>
                    <br>
                    <p class="text-muted"> {{ corrective?.product.brand }} </p>
                </div>

                <div class="col-md-3 col-xs-6 b-r"> <strong class="fw-bold">Modelo</strong>
                    <br>
                    <p class="text-muted"> {{ corrective?.product.model }} </p>
                </div>

                <div class="col-md-3 col-xs-6"> <strong class="fw-bold">Año</strong>
                    <br>
                    <p class="text-muted"> {{ corrective?.product.year }} </p>
                </div>
            </div>

        </div>
    </div>
    <!-- INFO PRODUCT -->

    <!-- INFO STAFF -->
    <div class="card ml-auto">

        <div class="card-body little-profile text-center">
            <div class="pro-img m-t-20"><img class="shadow" [src]="corrective?.staff.img | imagen:'user'" alt="user"></div>
            <h3 class="m-b-0"> {{ corrective?.staff.name }} </h3>
            <h6 class="text-muted"> {{ corrective?.staff.role }} </h6>
        </div>

    </div>
    <!-- INFO STAFF -->

</div>

<!-- INFORMACION DEL MANTENIMIENTO -->
<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Informe Tecnico</h4>
    </div>
    <!-- ============================================================== -->
    <!-- Comment widgets -->
    <!-- ============================================================== -->
    <div class="comment-widgets">

        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row" *ngFor="let nota of corrective?.notes; let i = index">
            <div class="p-2">
                <span class="round">
                    <img [src]="nota.staff.img | imagen: 'user'" alt="user" width="50">
                </span>
            </div>
            <div class="comment-text w-100">
                <h5 class="fw-bold"> {{ nota.staff.name }} </h5>
                <p class="m-b-5 text-break">
                    {{ nota.note }}
                </p>
                <div class="comment-footer">
                    <span class="text-muted pull-right"> {{ nota.date | date:'EEEE d MMMM  y h:mm a' }} </span>
                    <span class="action-icons active" *ngIf="i > 0">
                        <a href="javascript:void(0)"><i class="icon-close"></i></a> 
                    </span>
                </div>
            </div>
        </div>
        <!-- Comment Row -->

    </div>
    <!-- INFORMACION DEL MANTENIMIENTO -->
</div>

<!-- ===============================================================================
    SUBIR IMAGENES ANTES DEL MANTENIMIENTO
=============================================================================== -->
<!-- <div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Subir imagenes antes del mantenimiento!</h4>
        <label for="input-file-now">Formatos permitidos JPG - JPEG - PNG - WEBP</label>
        <div class="dropify-wrapper">
            <div class="dropify-message"><span class="file-icon"></span>
                <p> Arrastre y suelte o de click aqui </p>
                <p class="dropify-error">Ooops, something wrong appended.</p>
            </div>
            <div class="dropify-loader"></div>
            <div class="dropify-errors-container">
                <ul></ul>
            </div>
            <input #fileImgBef type="file" id="input-file-now" class="dropify" (change)="cambiarImage($event.target, 'before')">
            <button type="button" class="dropify-clear">Remove</button>
            <div class="dropify-preview" [ngClass]="{'d-block': imgTempBef}">

                <span class="dropify-render">
                    <img *ngIf="imgTempBef" [src]="imgTempBef" alt="">
                </span>

                <div class="dropify-infos">
                    <div class="dropify-infos-inner">
                        <p class="dropify-filename">
                            <span class="file-icon"></span>
                            <span class="dropify-filename-inner"></span></p>
                        <p class="dropify-infos-message">Arrastre y suelte ó Seleccione una Imagen</p>
                    </div>


                </div>
            </div>
        </div>

        <button (click)="subirImg('imgBef')" [disabled]="imgTempBef === null" type="button" class="mt-3 btn waves-effect waves-light btn-rounded btn-info">Subir imagens</button>

    </div>
</div> -->
<!-- SUBIR IMAGENES -->

<div *ngIf="imgsbefore" class="card rojito">
    <div class="card-body">
        <h3 class="card-title"> Imagenes antes del mantenimiento </h3>

        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let item of corrective?.imgBef">
                <!-- <div class="card">
                    <img class="card-img img-fluid" [src]="item.img | imagen:'preventives' " alt="Card image">
                </div> -->

                <div class="card">
                    <img class="card-img-top img-responsive" [src]="item.img | imagen:'correctives' " alt="Card image cap">
                    <div class="card-body">
                        <p class="mb-0">fecha: {{ item.date | date: 'MMMM d y hh:mm:ss a' }}</p>
                        <ul class="list-inline font-14">

                            <li>
                                <a [href]="item.img | imagen:'correctives'" class="link" target="_blank">
                                    <i class="mdi mdi-download"></i> Descargar
                                </a>
                            </li>
                            <li class="p-l-0">
                                <button (click)="deleteImg( item.img,'imgBef', 'correctives')" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar">
                                    <i class="ti-close" aria-hidden="true"></i> Eliminar
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

            </ng-template>
        </swiper>


    </div>
</div>
<!-- ===============================================================================
    SUBIR IMAGENES ANTES DEL MANTENIMIENTO
=============================================================================== -->

<!-- ===============================================================================
    SUBIR IMAGENES DESPUES DEL MANTENIMIENTO
=============================================================================== -->
<!-- <div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Subir imagenes despues del mantenimiento</h4>
        <label for="input-file-now">Formatos permitidos JPG - JPEG - PNG - WEBP</label>
        <div class="dropify-wrapper">
            <div class="dropify-message"><span class="file-icon"></span>
                <p> Arrastre y suelte o de click aqui </p>
                <p class="dropify-error">Ooops, something wrong appended.</p>
            </div>
            <div class="dropify-loader"></div>
            <div class="dropify-errors-container">
                <ul></ul>
            </div>
            <input #fileImgAft type="file" id="input-file-now" class="dropify" (change)="cambiarImage($event.target, 'after')">
            <button type="button" class="dropify-clear">Remove</button>
            <div class="dropify-preview" [ngClass]="{'d-block': imgTempAft}">

                <span class="dropify-render">
                    <img *ngIf="imgTempAft" [src]="imgTempAft" alt="">
                </span>

                <div class="dropify-infos">
                    <div class="dropify-infos-inner">
                        <p class="dropify-filename">
                            <span class="file-icon"></span>
                            <span class="dropify-filename-inner"></span></p>
                        <p class="dropify-infos-message">Arrastre y suelte ó Seleccione una Imagen</p>
                    </div>


                </div>
            </div>
        </div>

        <button (click)="subirImg('imgAft')" [disabled]="imgTempAft === null" type="button" class="mt-3 btn waves-effect waves-light btn-rounded btn-info">Subir imagens</button>

    </div>
</div> -->
<!-- SUBIR IMAGENES -->

<div *ngIf="imgsafter" class="card rojito">
    <div class="card-body">
        <h3 class="card-title"> Imagenes antes del mantenimiento </h3>

        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let item of corrective?.imgAft">

                <div class="card">
                    <img class="card-img-top img-responsive" [src]="item.img | imagen:'correctives' " alt="Card image cap">
                    <div class="card-body">
                        <p class="mb-0">fecha: {{ item.date | date: 'MMMM d y hh:mm:ss a' }}</p>
                        <ul class="list-inline font-14">

                            <li>
                                <a [href]="item.img | imagen:'correctives'" class="link" target="_blank">
                                    <i class="mdi mdi-download"></i> Descargar
                                </a>
                            </li>
                            <li class="p-l-0">
                                <button (click)="deleteImg(  item.img,'imgAft', 'correctives')" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar">
                                    <i class="ti-close" aria-hidden="true"></i> Eliminar
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

            </ng-template>
        </swiper>


    </div>
</div>

<!-- ===============================================================================
    SUBIR IMAGENES DESPUES DEL MANTENIMIENTO
=============================================================================== -->